*{
    padding: 0;
    margin: 0;
}

.parent{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: black;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10;
}
h1,h2{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.content{
    width: 600px;
    height: 600px;
    
    margin: 50px;
    position: relative;
}

.square {
    background-color: #05204A;
    border: 1px #05004A solid;
    width: 30px;
    height: 30px;
}

.line{
    display: flex;
}

.Bait {
    background: rgb(195, 0, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
